<%= form_with(model: recipe, local: true, html: { class: "space-y-4" }) do |f| %>
  <% if recipe.errors.any? %>
    <div class="alert alert-error">
      <h2 class="font-bold">Errors:</h2>
      <ul>
        <% recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= f.label :title %>
    <%= f.text_field :title, class: "input input-bordered" %>
  </div>

  <div class="form-control">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 3, class: "textarea textarea-bordered" %>
  </div>

  <div class="form-control">
    <%= f.label :instructions %>
    <%= f.text_area :instructions, rows: 5, class: "textarea textarea-bordered" %>
  </div>

  <div class="flex gap-4">
    <div class="form-control">
      <%= f.label :prep_time, "Prep Time (min)" %>
      <%= f.number_field :prep_time, class: "input input-bordered", min: 0 %>
    </div>
    <div class="form-control">
      <%= f.label :cook_time, "Cook Time (min)" %>
      <%= f.number_field :cook_time, class: "input input-bordered", min: 0 %>
    </div>
  </div>

  <!-- Categories -->
  <div class="form-control">
    <%= f.label :category_ids, "Categories" %>
    <%= f.collection_select :category_ids, Category.all, :id, :name, {}, { multiple: true, class: "select select-bordered" } %>
  </div>

  <!-- Tags -->
  <div class="form-control">
    <%= f.label :tag_ids, "Tags" %>
    <%= f.collection_select :tag_ids, Tag.all, :id, :name, {}, { multiple: true, class: "select select-bordered" } %>
  </div>

  <!-- Ingredients -->
  <div data-controller="ingredients">
    <div data-ingredients-target="ingredientsList">
      <%= f.fields_for :recipe_ingredients do |ri_fields| %>
        <div class="ingredient-fields flex gap-2 mb-2">
          <%= ri_fields.collection_select :ingredient_id, Ingredient.all, :id, :name, {}, class: "select select-bordered" %>
          <%= ri_fields.number_field :quantity, placeholder: "Qty", step: 0.01, class: "input input-bordered w-24" %>
          <%= ri_fields.text_field :unit, placeholder: "Unit", class: "input input-bordered w-24" %>
          <button class="btn btn-error btn-sm" data-action="click->ingredients#remove">Remove</button>
        </div>
      <% end %>
    </div>

    <!-- Hidden template for new ingredient -->
    <template data-ingredients-target="template">
      <div class="ingredient-fields flex gap-2 mb-2">
        <select name="recipe[recipe_ingredients_attributes][NEW_RECORD][ingredient_id]" class="select select-bordered">
          <% Ingredient.all.each do |ing| %>
            <option value="<%= ing.id %>"><%= ing.name %></option>
          <% end %>
        </select>
        <input type="number" name="recipe[recipe_ingredients_attributes][NEW_RECORD][quantity]" step="0.01" class="input input-bordered w-24" placeholder="Qty">
        <input type="text" name="recipe[recipe_ingredients_attributes][NEW_RECORD][unit]" class="input input-bordered w-24" placeholder="Unit">
        <button class="btn btn-error btn-sm" data-action="click->ingredients#remove">Remove</button>
      </div>
    </template>

    <button class="btn btn-outline btn-sm mt-2" data-action="click->ingredients#add">Add Ingredient</button>
  </div>


  <div class="form-control mt-4">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
